<div class="app-heroes">
    <h2 class="auth0-features__title">Heroes</h2>
    <div class="auth0-features__grid">
        <app-card
                title="Michael Saylor"
                description="He is the executive chairman and a co-founder of MicroStrategy. He's a billionaire again thanks to timely bitcoin investments. In October 2020, he disclosed he personally bought 17,732 bitcoins for $175 million."
                resourceUrl="https://hope.com"
                icon="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Michael_Saylor_2022.png/220px-Michael_Saylor_2022.png"
        ></app-card>
        <app-card
                title="Nik Bhatia"
                description="Y
Nik Bhatia is a financial researcher and Adjunct Professor of Finance and Business Economics at the University of Southern California Marshall School of Business."
                resourceUrl="https://thebitcoinlayer.substack.com/about"
                icon="https://static.wixstatic.com/media/775598_0c4a45d2463c43168ee81d63280afe35~mv2.jpg/v1/crop/x_0,y_893,w_3571,h_3571/fill/w_400,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/NBheadshot2.jpg"
        ></app-card>
        <app-card
                title="Jack Dorsey"
                description="American Internet entrepreneur, philanthropist, and programmer who is a co-founder and former CEO of Twitter, Inc., as well as co-founder, principal executive officer and chairperson[4] of Block, Inc., the developer of the Square financial services platform."
                resourceUrl="https://twitter.com/jack"
                icon="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Jack_Dorsey_2014_%28cropped%29.jpg/220px-Jack_Dorsey_2014_%28cropped%29.jpg"
        ></app-card>
        <app-card
                title="Denis Porter"
                description="Dennis is the host of Smart People Sh*t. Dennis is a political activist focused on defending bitcoin infrastructure + industry in the USA through public policy activism and advocacy. "
                resourceUrl="https://twitter.com/Dennis_Porter_"
                icon="https://images.squarespace-cdn.com/content/v1/5a78dfeacf81e0eb79f099d0/622577e0-84f9-48d3-ae1a-2141b6848523/image_6483441.JPG?format=500w"
        ></app-card>
    </div>
</div>
