
<div>
  <h2>Add A New Hero</h2>
</div>
<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" required name="name" [(ngModel)]="hero.name">
  </div>
  <div>
    <label for="quote">Quote</label>
    <input type="text" id="quote" required name="quote" [(ngModel)]="hero.quote">
  </div>
  <div>
    <label for="power">Hero Power</label><br/>
    <select id="power" required name="power" #power="ngModel" [(ngModel)]="hero.power" class="taller-input">
      <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
    </select>
  </div>
  <button type="submit" [disabled]="!heroForm.form.valid">Create</button>
</form>
