<br/><br/>
<h2>Database</h2>
<br/><br/>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Quote</th>
    <th>Power</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody class="heroes">
  <tr *ngFor="let hero of heroes">
    <td class="padded-cell"><a routerLink="/detail/{{hero.id}}"><span class="badge">{{hero.id}}</span></a></td>
    <td class="padded-cell">{{ hero.name }}</td>
    <td class="padded-cell">{{ hero.quote }}</td>
    <td class="padded-cell">{{ hero.power }}</td>
    <td class="padded-cell">
      <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </td>
  </tr>
  </tbody>
</table>
